:root {
    /* colors */
    --Yellow: `#FFE01B`;
    --Antique-White: `#EBE1CD`;
    --Black: `#241C15`;
    --White: `white`;

    /* spacing */
    --space-1: .5rem;
    /* 8px */
    --space-2: .75rem;
    /* 12px */
    --space-3: 1rem;
    /* 16px */
    --space-4: 1.125rem;
    /* 18px */
    --space-5: 1.5rem;
    /* 24px */
    --space-6: 2rem;
    /* 32px */
    --space-7: 3rem;
    /* 48px */
    --space-8: 3.5rem;
    /* 56px */
    --space-9: 5rem;
    /* 80px */

    /* font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 600;

    /* font sizes */
    --font-size-xx-small: 0.75rem;
    /* 12px */
    --font-size-x-small: 0.875rem;
    /* 14px */
    --font-size-small: 1rem;
    /* 16px */
    --font-size-normal: 1.125rem;
    /* 18px */
    --font-size-large: 1.625rem;
    /* 26px */
    --font-size-x-large: 2rem;
    /* 32px */
    --font-size-xx-large: 3rem;
    /* 48px */
}

/* Set the box-sizing property for all elements */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic default styling  */

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg,
img {
    max-width: 100%;
    height: auto;
    display: block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
}

input,
button {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-small);
    line-height: 1.5;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

::placeholder {
    color: var(--black);
    opacity: 0.5;
}

.container {
    max-width: 72.75rem;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Specific component classes */